


.loc-container{
    display: flex;
    flex-wrap: wrap;
}

.loc-ul-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 775px;
    margin-top: 100px;
    padding-right: 10vw;
}

.resta-ul-index {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.restIndexPlate {
    display: flex;
    flex-direction: column;
}

.r-info-list {
    display: flex;
    flex-direction: column
}

.overlay-img{
 position: relative;
 width: 100%;
}

.overlay-img .loc-pics {
    display: block;
    width: 100%;
    height: 326px;   
}
// .rest-pics {
//     display: flex;
//    //  justify-content: baseline;
//     height: 325px;
//     width: 480px;
//  }

.overlay-img .rest-text {
    color: #fff;
 font-size: 30px;
 line-height: 1.5em;
 text-shadow: 2px 2px 2px #000;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
}

.overlay-img .hover-l {
 position: absolute;
 top: 0;
 height: 100%;
 width: 100%;
 opacity: 0;
 transition: .5s ease;

}
.overlay-img:hover .hover-l{
opacity: 1;
}
.overlay-img .overlay {
    transition: .5s ease;
}
.overlay-img:hover .overlay {
    opacity: 0.605;
}
.overlay-image .hover-l {
    background-color: rgba(0,0,0,0.5);
}

.splashcont {
    padding: 2.0rem 2.0rem;
}