.calendar {
  height: 20px;
  width: 90%;
  color: grey;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 4px;
  font-size: 11px;
}

.rese-textarea{
  margin-left: 2px;
  height: 34px;
  font-weight: 400;
  font-family: helvetica;
  padding-left: 15px;
  border: 1px solid rgba(232,232,255,0.9);
  border-radius: 9px;
}

.react-datepicker-wrapper{
  display: inline-block;
}
.react-datepicker__input-container {
  position: relative;
  display: inline-block;
}