.calendar {
  margin-left: 20px;
  height: 34px;
  font-weight: 400;
  font-family: helvetica;
  padding-left: 15px;
  width: 170px;
  color: grey;
}

.rese-textarea{
  margin-left: 2px;
  height: 34px;
  font-weight: 400;
  font-family: helvetica;
  padding-left: 15px;
  width: 70px;
}

.react-datepicker-wrapper{
  display: inline-block;
}
.react-datepicker__input-container {
  position: relative;
  display: inline-block;
}