

.ul-container, .ul-r-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.location-ul-index {
    display: flex;
    // width: 1400px;
    flex-wrap: wrap;
    // margin-top: 10px;
    // margin-bottom: 20px;
    // margin-left: 270px;
}

.locIndexPlate {
    background-color: rgb(242, 243, 248);
    color: #2d333f;
    border: 1px solid gray;
    // width: 450px;
    width: calc((100% - (16px * 11)) * 4 / 12 + (3 * 16px));
    // margin: auto;
    margin-right: 16px;
    margin-bottom: 16px;
    flex: 26% 1 1;
    margin: 0 16px 16px 0;
    padding: 3px;
    // margin-top: 18px;
    float: left;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
}
.dafuq{
    color: #2d333f;
}
.location-name {
    font-size: 25px;
    font-weight: bold;
    color: #2d333f;
}

.overlay-img{
 position: relative;
 width: 100%;
}

.overlay-img .loc-pics {
    display: block;
    width: 100%;
    height: auto;   
}

.overlay-img .loc-text {
    color: #fff;
 font-size: 30px;
 line-height: 1.5em;
 text-shadow: 2px 2px 2px #000;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
}

.overlay-img .hover-l {
 position: absolute;
 top: 0;
 height: 100%;
 width: 100%;
 opacity: 0;
 transition: .5s ease;

}
.overlay-img:hover .hover-l{
opacity: 1;
}
.overlay-img .overlay {
    transition: .5s ease;
}
.overlay-img:hover .overlay {
    opacity: 0.605;
}
.overlay-image .hover-l {
    background-color: rgba(0,0,0,0.5);
}
// .loc-pics {
//     height: 216px;
//     min-width: 100%
// }

.main-div{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: .875rem 0;
    border-top: 1px solid #ccd3de;
    width: 100%;
}

.rest-descr {
    display: flex;
    flex-direction: column;
}



.pop-rests{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    color: #2d333f;
}

.rest-splash-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2d333f;
}