// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .rest-pics {
//     display: flex;
//    //  justify-content: baseline;
//     height: 325px;
//     width: 480px;
//  }
 
 .seclogo {
    height: 80px;
    border-radius: 12px;
 }

 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
   //  padding-left: 50px;
   //  padding-right: 50px;
    padding-top: 23px;
   //  margin: 50%;
    padding-bottom: 8px;
   align-items: center;
   width: 100%;
   height: 50px;

   //  background-image: linear-gradient(260deg,#2376ae 0%,#c16ecf,100%);
   //  height: 75px;
 }
 
 .header-link{
   font-family: 'Playfair Display', serif;
   // padding-top: 5px;
   // padding-left: 15px;
   // padding-right: 15px;
   // text-decoration: none;
   // background-color: red;
   // color: white;
   // height: 70px;
   // line-height: 60px;
   // border-radius: 15px;
   // margin: 10px;

   margin-left: 50px;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
 }
.header-link:hover{
   background: rgb(252, 252, 252);
   
}
.logo-img{
   border: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   margin-right: 0px;
   padding: 0px;
   height: 50px;
   font-size: 25px;
}

.logo-img img {
   height: 43px;
   margin-right: 5px;
   margin-top: 7px;
   margin-right: 5px;
}

.logo-name{
   border: 0px;
   //  margin-bottom: 0px;
   //  margin-left: 0px;
   //  margin-right: 0px;
   //  padding: 0px;
   //  height: 50px;
    font-size: 25px;
}

.splash-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin: 62px;
}






.login-form-header{
   font-family: 'Overpass', serif;
   font-style: normal;
   font-weight: normal;
   font-size: 1.5rem;
   line-height: 1.165;
   text-align: center;
}

 .header-button {
   font-family: 'Overpass', sans-serif;;
   padding-top: 5px;
   padding-left: 15px;
   padding-right: 15px;
   color:black;
   height: 55px;
   line-height: 60px;
   border-radius: 15px;
   margin: 10px;
   border: 2px solid;
   color:gray;
   border-color: black;
 }
 .header-button:hover {
    background: #3d6f80;
 }

 .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
 }

 .nav-links, .log {
    text-decoration: none;
    color: rgba(7, 1, 1, 0.7)
 }
 .main-nav li {
    margin: 0;
 }

.nav-links {
    margin-left: 40px;
}
.logo:hover, .nav-links:hover {
    color: rgba(255, 255, 255, 1)
}

.modal-background {
   position: fixed;
   top: 0;
   left: 0;
   bottom:0;
   right: 0;
   background-color: rgba(19, 10, 10, 0.5);
   z-index: 10;

}
.baby-splash{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.search-form {
   // background-color: white;
   // margin: 30px;
   // height: 130px;
   // width: 600px;
   // border: 1px solid grey;
   // border-radius: 5px;
   // align-items: center;
   display: flex;
   justify-content: center;
   // position: relative;
   // margin-bottom: 10px;
 }

.modal-child {
   position: absolute;
   font-family: 'Overpass', sans-serif;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   padding: 80px;
   background-color:#fefefe;
   font-size: 175%;
   font-weight: 400;
   font-style: normal;
   cursor: pointer;
}
.session-buttons {
   border-style: solid;
   border-width: 0;
   cursor: pointer;
   font-weight: 400;
   font-family: 'Overpass', sans-serif;  
   line-height: normal;
   margin:0 0 1rem;
   position: relative;
   text-decoration: none;
   text-align: center;
   outline: 0;
   border-radius: 3px;
   display: inline-block;
   background-color: #da3743;
   border-color: #b8222d;
   color: #fff;
   padding: .875rem 1.75rem .9375rem;
   width: 100%;
}


.login-input{
   outline: 0;
   font-weight: 600;
   display: block;
   background:#fff;
   font-size: .75rem;
   border: 1px solid rgba(0,0,0,.12);
   border-radius: 3px;
   width: 100%;
   padding: 15px;
}
.close-x {
   cursor: pointer;
   position: absolute;
   top: 5px;
   right: 5px;
   padding: 12px 16px;
   
 }

 .close-x:hover{
   background: rgb(241, 238, 238);
 }

.alt-sign-up {
   color: #da3743;
   text-decoration: none;
   line-height: inherit;
}
.terms {
   color: #6f737b;
   font-size: 0.875rem;
   font-weight: normal;
   line-height: 1.25rem;
}

a {
   color: #da3743;
   text-decoration: none;
   line-height: inherit;
}

.login-form {
   top:0;
   left:0;
   position: sticky;
   transform: translate(10px,10px);
   font-size: 100%;
   font-weight: 400;
   margin:0;
}

.login-input {
   display: flex;
   justify-content: space-between;
   font-size: 18px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-signup {
   background-color:white; 
   border-color: #1c627a;
   border: rgba(0, 0, 0, 0.5);
   color: rgb(177, 15, 15);
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
} 
.nav-signup:link, .nav-signup:visited {
    background-color: #237b98; 
    border-radius: 15px;
    border-color: #1c627a;
    color: whitesmoke;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
} 
 
.nav-signup:hover, .nav-signup:active {
    background-color:  #6492a1;
}

.session-buttons:hover {
   background: red;
}

.sesh-errors{
   color: red;
   text-align: center;
   font-size: 20px;
}
 
.nav-signin:link, .nav-signin:visited {
    text-decoration: none;
    color: #333;
}
.nav-signin:hover, .nav-signin:visited {
   font-weight: bold;
}

.header-group{
   display: flex;
   flex-direction: row;
   align-items: baseline;
 }

 .profile-link-header {
   font-family: 'Overpass', sans-serif;;
   padding-top: 5px;
   padding-left: 15px;
   padding-right: 15px;
   color:black;
   height: 55px;
   line-height: 60px;
   border-radius: 15px;
   margin: 10px;
   border: 2px solid;
   color:gray;
   border-color: black;
 }
.header-name{
   // font-family: 'Playfair Display', serif;
   // text-align: center;
   // padding: 23px;
   // font-size: 20px;
   // color: red;
   // text-decoration: none;
   // background-color: red;
   font-family: 'Overpass', sans-serif;;
   padding-top: 5px;
   padding-left: 15px;
   padding-right: 15px;
   color:black;
   height: 55px;
   line-height: 60px;
   border-radius: 15px;
   margin: 10px;
   // border: 2px solid;
   color:gray;
   border-color: black;
}

.content-block{
   // align-items: center;
   // background-image: url('/bndo.jpg');
   // background-color: rgba(47,45,65,.7);
   height:400px;
   // opacity: 0.65;
   // background-position: center;
   // background-repeat: no-repeat;
   // background-size: cover;
   // border: none;
   display: flex;
   flex-direction: column;
   margin-top: 23px;
   margin-bottom: 28px;
   // padding-left: 50px;
   // padding-right: 50px;
}

.greyed-out{
   background-color: grey;
   width: 100%;
   height: 100%;
   // opacity: 0.6;
   // margin-bottom: -61px;
   background-image: url('/group-table.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   // background-position-y: -96px;
}
.content-block-header{
   display: flex;
   justify-content: center;
   color: white;
   font-size: 60px;
   z-index: 1;
   font-family: 'Playfair Display', serif; 
   margin-top: 41px;
}

.obama-text{

   z-index: 5;
}

// .footer-div{
//    display: flex;
//    -webkit-box-orient: horizontal;
//    -webkit-box-direction: reverse;
//    flex-direction: row-reverse;
//    max-width: 992px;
//    margin-left: auto;
//    margin-right: auto;
//    font-family: 'Playfair Display', serif;
//    margin-top: 200px;
//    margin-left: -83px;
// }

// .footer-div {
//    padding: 20px;
//    font-size: 30px;
//    width: 50px;
//    text-align: center;
//    text-decoration: none;
//    margin: 5px 2px;
// }

// .footy{
//    display: flex;
//    justify-content: space-between;
// }